$textColor: white;
$Varela: "Varela Round", sans-serif;
$Bitter: "Bitter", serif;
$websiteWidth: 940px;
* {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline;
  font-size: 24px;
  font-family: $Bitter;
  color: $textColor;
  position: relative;
  padding-left: 10px;
  color: $textColor;
  text-align: center;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #252525;
  height: 53px;
  width: 100%;
  text-decoration: none;
}
.sub-nav {
  background: #4d4382;
  height: 53px;
  align-self: center;
}
a {
  text-decoration: none;
  color: $textColor;
}

.logo-container {
  display: flex;
  align-items: center;
  overflow: auto;
  float: left;
  width: 165px;
  align-items: center;
  vertical-align: middle;
  padding-left: 35px;
}
.logo {
  float: left;
  align-items: center;
  padding: 15px;
  &:before {
    opacity: 0.05;
    background-color: $textColor;
    mix-blend-mode: normal;
    fill: white;
  }
}
.search-logo {
  align-items: center;
  padding-left: 5px;
  &:before {
    opacity: 0.05;
    background-color: $textColor;
    mix-blend-mode: normal;
  }
}

.main-nav-ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
  word-spacing: 10px;
  align-items: center;
  padding-left: 140px;
  li {
    margin: 10px;
    font-family: $Varela;
  }
}

.sub-nav-ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  word-spacing: 10px;
  align-items: center;
  margin-left: -360px;
  margin-right: 40px;

  li {
    text-decoration: underline;
    text-underline-offset: 14px;
    align-items: center;
    margin: 20px;
    font-family: $Bitter;
    font-size: 18px;
    font-weight: 700;
    color: $textColor;
    padding-bottom: 50px;
    top: -50px;
  }
}
.sub-nav-links {
  position: relative;
  text-align: center;
  padding-top: 6px;
  display: inline-block;
  right: 20px;
  align-items: center;
}
#business {
  border-bottom: solid 5px#EE6151;
  width: 160%;
}
#sport {
  border-bottom: solid 5px#84C14F;
  width: 200%;
}

#life {
  border-bottom: solid 5px#5DCFF3;
  width: 230%;
}
#tech {
  border-bottom: solid 5px#FCC44D;
  width: 200%;
}
#travel {
  border-bottom: solid 5px#A99765;
  width: 120%;
}
.news-sub-span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: $Bitter;
  margin-top: 15px;
  font-size: 18px;
  color: $textColor;
  vertical-align: middle;
  font-weight: 700;
}
.news-colored-div {
  background: #299ec3;
  width: 86px;
  height: 53px;
  margin-bottom: 70px;
}

.top-banner {
  width: 942px;
  height: 124px;
  text-align: center;
  vertical-align: middle;
  line-height: 124px;
  margin: auto;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  color: #999999;
}

/*
.top-image-carousel {
  width: $websiteWidth;
  height: 425px;
  margin: auto;
  line-height: 425px;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  background-image: url("./assets/pic1.png");
  background-repeat: no-repeat;
  background-size: 940px 425px;
}

.carousel-scrolls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.scroll-left-icon {
  margin: auto;
  padding-right: 350px;
  line-height: 425px;
  vertical-align: middle;
}
.scroll-right-icon {
  padding-left: 350px;
  margin: auto;
  right: 50px;
  line-height: 425px;
  text-align: center;
  vertical-align: middle;
}

.date-comments-image {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: $textColor;
  font-family: $Varela;
  font-weight: 400;
  bottom: -170px;
  right: 940px;
}

.comment-icon-container {
  position: absolute;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: $textColor;
  font-family: $Varela;
  font-weight: 400;
  bottom: -170px;
  right: 775px;
}

.carousel-headline-text {
  display: inline-block;
  position: absolute;
  margin: auto;
  color: $textColor;
  bottom: -225px;
  left: 1px;
  font-family: $Bitter;
  font-weight: 700;
  font-size: 34px;
  width: 100%;
}
*/

.carousel-container {
  margin-top: 40px;
  width: $websiteWidth;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.carousel-images {
  width: 100%;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 940px;
  line-height: 500px;
  text-align: center;
  font-size: 40px;
  color: $textColor;
}

.carousel-slide {
  display: flex;
  position: relative;
}

#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  color: $textColor;
  cursor: pointer;
}
#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  color: $textColor;
  cursor: pointer;
}
.carousel-image-text {
  position: relative;
  width: 100%;
}
.carousel-text-1,
.carousel-text-2 {
  z-index: 10;
  position: absolute;
  color: white;
  font-size: 14px;
  left: 50px;
  right: 0;
  bottom: 160px;
  font-family: $Varela;
  font-weight: 400;
}
