$textColor: white;

* {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline;
  font-size: 24px;
  font-family: "Bitter", serif;
  color: $textColor;
  position: relative;
  padding-left: 10px;
  color: $textColor;
  text-align: center;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #252525;
  height: 53px;
  width: 100%;
  text-decoration: none;
}
.sub-nav {
  background: #4d4382;
  height: 53px;
  align-self: center;
}
a {
  text-decoration: none;
  color: $textColor;
}

.logo-container {
  display: flex;
  align-items: center;
  overflow: auto;
  float: left;
  width: 165px;
  align-items: center;
  vertical-align: middle;
}
.logo {
  float: left;
  align-items: center;
  padding: 15px;
  &:before {
    opacity: 0.05;
    background-color: $textColor;
    mix-blend-mode: normal;
    fill: white;
  }
}
.search-logo {
  align-items: center;
  padding-left: 5px;
  &:before {
    opacity: 0.05;
    background-color: $textColor;
    mix-blend-mode: normal;
  }
}

.main-nav-ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
  word-spacing: 10px;
  align-items: center;
  li {
    margin: 10px;
    font-family: "Varela Round", sans-serif;
  }
}

.sub-nav-ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  word-spacing: 10px;
  align-items: center;
  margin-left: -360px;

  li {
    text-decoration: underline;
    text-underline-offset: 14px;
    align-items: center;
    margin: 20px;
    font-family: "Bitter", serif;
    font-size: 18px;
    font-weight: 700;
    color: $textColor;
    padding-bottom: 50px;
    top: -50px;
  }
}
.sub-nav-links {
  padding-top: 6px;
  display: inline-block;
}
#business {
  border-bottom: solid 5px#EE6151;
}
#sport {
  border-bottom: solid 5px#84C14F;
}

#life {
  border-bottom: solid 5px#5DCFF3;
}
#tech {
  border-bottom: solid 5px#FCC44D;
}
#travel {
  border-bottom: solid 5px#A99765;
}
.news-sub-span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "Bitter", serif;
  margin-top: 15px;
  font-size: 18px;
  color: $textColor;
  vertical-align: middle;
  font-weight: 700;
}
.news-colored-div {
  background: #299ec3;
  width: 86px;
  height: 53px;
  margin-bottom: 70px;
}
