$textColor: white;
$Varela: "Varela Round",
sans-serif;
$Bitter: "Bitter",
serif;
$websiteWidth: 940px;
$carouselTextColor: #eef6fa;
$sidebarFontColor:#ACB3BA;
$purpleBackground: #4D4382;
$editorialsColor:#A99765;
$bannerColor: #999999;
$mainButtonsColor:#e9e9e9;
$seeAllColor:#3677b5;
$newsCarouselColor:#FCC44D;
$darkGrey:#252525;
$footerTextColor: #666666;
$newsletterTitleColor: #CCCCCC;
$newsletterNameBackground:#333333;
$contentHeadlineColor: #363F48;

@import "sidebar";


.main-content{
    position:relative;
    width:622px;
    height:2603px;
    left:15%;
    display: grid;
    grid-template-columns: 622px;
    grid-template-rows: 404px 404px 404px 404px 404px 404px;
    top: 30px;
}

.main-content-title{
    position:relative;
    left:17.5%;
    top:1%;
    font-family:$Bitter;
    font-weight:700;
    font-size:24px;
    line-height: 29px;
    color: $contentHeadlineColor;
}

.headline-title{
    position:relative;
    left:5%;
    top:24px;
    font-family:$Bitter;
    font-weight:700;
    font-size:24px;
    line-height: 29px;
    color: $contentHeadlineColor;
}

.content-item{
    width:100%;
    position:relative;
    top:5%;
    border-bottom: 1px solid #DDDDDD;
}

.category-sidebar{
    @extend .sidebar;
    left:99%;
}

.category-social-links{
    @extend .social-links;
    position:absolute;
    top:44%;
}

.calendar-icon{
    position:relative;
    top:20%;
    right:24%;

}
.content-date{
    position: relative;
    top:20%;
    right:23%;
    font-family:$Varela;
    font-weight:400;
    font-size:12px;
    line-height:14.5px;
    color: $footerTextColor;
}

.content-author{
    @extend .content-date;
    right:17%;
}

.content-comments{
    @extend .content-author;
    right:12%;
}

.content-box{
    position: relative;
    top:25%;
}
.content-image{
    position:relative;
    right:4%;
    left:5%;
}
.content-text{
    position:relative;
    left:35%;
    bottom:10%;
    width:383px;
    height:176px;
    font-weight:$Bitter;
    font-weight:400;
    font-size:14px;
    line-height:22px;
    color: #444444;
}

.category-read-article{
    position:relative;
    display: inline-block;
    width: 123px;
    height:33px;
    line-height:33px;
    text-align: center;
    font-family: $Varela;
    font-size: 14px;
    color: $textColor;
    background:$purpleBackground;
    font-weight: 400;
    left:35%;
    bottom:5%;
    text-align:center;
}
